#calendar {
    max-width: 900px;
    margin: 0 auto;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
}

td .fc-time-grid .fc-slats .ui-widget-content:hover {
    background-color: #2a6496;
}